.App {
  background-color: "red";
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  font-family: 'Times New Roman', cursive, sans-serif;
  border-radius: 30px;
  border: 5px solid #ffffff;
}

#main_section {
  background-color: #560707;
}

.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#customFont {
  font-size: clamp(1.75rem, 2.0vw, 3rem);
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.imageBorder {
  border-radius: 30px;
  border: 5px solid #ffffff;
}

table {
  border-radius: 30px;
  border: 5px solid #ffffff;
}

th,
td {
  border: 5px solid #ffffff;
  padding: 10px;
}
